html {
	cursor: url(imagens/contrato.png) 30 30, auto;
}

body {
	background-image: url(imagens/bg.jpg);
	background-repeat: repeat;
}


.mosquito1 {

 width: 150px;
 height: 150px;
}

.mosquito2 {

	 width: 190px;
 height: 190px;

}

.mosquito3 {

 width: 220px;
 height: 220px;
}

.ladoA {
	transform: scaleX(1);
}

.ladoB {
	transform: scaleX(-1);
}

.painel {
	position: absolute;
	width: 190px;
	padding: 10px;
	bottom: 0px;
	left: 0px;
	border-top: 1px solid #fff;
	background-color: #fff;
	opacity: 0.7; 
}

.vidas {
	float: left;
}

.cronometro {
	float: left;
	font-size: 20px;
	font-weight: bold;
}






